<!DOCTYPE html>
<html>
    <head>
        <title>WaniKani Review Notifier</title>
        <link rel="shortcut icon" href="#" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
        <link rel="stylesheet" href="css/styles.css" type="text/css" /> <!-- find out why it's not connecting --> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    </head>
    <body>
        <nav class="ui menu">
            <a class="item" href="/"><i class="icon home"></i>WaniKani Review Notifier</a>
            <div class="right menu">
                <a class="item" href="/login">Login</a>
                <a class="item" href="/register">Register</a>
                <a class="item" href="/Logout">Logout</a>
            </div>
        </nav>