<%- include partials/header %>

    <h1>FAQ</h1>
    
    <div class="faq">
        <h2>What does this site do?</h2>
        <p>This is a notification tool for the website <a href="http://www.wanikani.com">WaniKani</a>, which according to their website is "a Japanese radicals, kanji, and vocabulary learning web app that uses mnemonics and SRS to make kanji learning simple". The way SRS works is ----.</p>
        <p>The WaniKani Review Notifier immediately informs you when your reviews are ready, keeping you on top of your reviews and preventing them from piling up too high. The constant reminder of how many are waiting for you keeps you accountable, never letting your Kanji reading abilities depreciate!</p>
    </div>
    
    <div class="faq">
        <h2>How do I sign up?</h2>
        <p>Go to the <a href="#">register</a> page, fill out the form, and submit! You'll automatically get both text and email notifications, but you can turn either off at any time.</p>
    </div>
    
    <div class="faq">
        <h2>Is it free?</h2>
        <p>Yes, unless your phone provider charges for receiving SMS text messages. If you'd like to <a href="#">donate</a>, feel free :)</p>
    </div>
    
    <div class="faq">
        <h2>Can I just have texts or emails?</h2>
        <p>Yes! Once logged in, you should be redirected to the <a href="#">home page</a>, where you can adjust the notification method.</p>
    </div>
    
    <div class="faq">
        <h2>My API key got changed!</h2>
        <p>On <a href="http://www.wanikani.com">WaniKani</a>, log in and go to the Settings page. Then, under the Account tab, if you scroll down, you'll need to copy the API-Version-1 Key exactly as displayed.</p>
    </div>
    
    <div class="faq">
        <h2>I forgot my password!</h2>
        <p><a href="mailto:wanikanireviewnotifier@gmail.com">Email</a> me at <a href="mailto:wanikanireviewnotifier@gmail.com">wanikanireviewnotifier@gmail.com</a>, and we'll figure it out ASAP.</p>
    </div>
    
    <div class="faq">
        <h2>I don't want to receive notifications anymore.</h2>
        <p>Once logged in, you should be redirected to the <a href="#">home page</a>, where you can change your settings, or delete your account if you wish.</p>
    </div>
    
    <div class="faq">
        <h2>There's an issue!</h2>
        <p><a href="mailto:wanikanireviewnotifier@gmail.com">Email</a> me at <a href="mailto:wanikanireviewnotifier@gmail.com">wanikanireviewnotifier@gmail.com</a> with the issue, and I'll resolve it ASAP.</p>
    </div>
    
    <div class="faq">
        <h2>How did you make this?</h2>
        <p>Using Node.js, Express, Passport, Mongoose, Twilio, Amazon SES, and Semantic UI, as well as RESTful design principles.</p>
    </div>

<%- include partials/footer %>