<%-  include partials/header %>

        <div class="hero">
                <h1 class="hero-text">WaniKani Review Notifier</h1>
                <h2>SMS/Email notifications immediately when new reviews are available!</h2>
                <a href="register"><button class="ui button">Let's Get Started!</button></a>
        </div>
        
<%- include partials/footer %>