<!DOCTYPE html>
<html>
    <head>
        <title>WaniKani Review Notifier</title>
        <link rel="shortcut icon" href="#" />
    </head>
    <body>
        <h1>WaniKani Review Notifier</h1>
        <h2>Coming soon :)</h2>
    </body>
</html>