<%- include partials/header %>

<form action="/register" method="POST">
    <input type="text" name="email" placeholder="email">
    <input type="text" name="apiKey" placeholder="API Key"> <!-- put in info on how to find API key -->
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Register">
</form>

<%- include partials/footer %>