/*=====================*/
/* reusable components */
/*=====================*/

body {
    font-family: 'Helvetica Neue', 'Arial', sans-serif;
    color: #fff;
    background-image: linear-gradient(rgba(114, 12, 77, 0.8), rgba(254, 237, 97, 0.1)), url(https://images.pexels.com/photos/590478/pexels-photo-590478.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-attachment: fixed;
    background-position: center;
    /*background-color: #fcfae5; */
}

.container {
    padding: 0 10% 10% 10%;
}

form {
    padding: 0 30%;
}

h1 {
    text-align: center;
}

a {
    color: #1EACFB;
}

.center {
    text-align: center;
}

.delete-margin {
    margin: 25px 0;
}

::selection {
    background-color: #fff696;
    color: #1EACFB;
}

/*=====================*/
/*       header        */
/*=====================*/

.ui.menu {
    background-color: rgba(0,0,0,0.1);
}

.ui.menu .item {
    color: #fff;
    font-size: 1.1rem;
}

.icon.home {
    font-size: 1.5rem;
}

/*=====================*/
/*      home page      */
/*=====================*/

.hero {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hero-text {
    text-align: left;
    font-size: 600%;
}

/*=====================*/
/*       faq           */
/*=====================*/

.faq {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 10px;
}


/*=====================*/
/*       forms         */
/*=====================*/

.ui.form .field>label {
    color: #fff;
}

.ui.button {
    background-color: #CEFD38;
}